/* 声明图标字体 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?5g4kf3');
    src: url('../fonts/icomoon.eot?5g4kf3#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?5g4kf3') format('truetype'),
        url('../fonts/icomoon.woff?5g4kf3') format('woff'),
        url('../fonts/icomoon.svg?5g4kf3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.header {
    position: relative;
    height: 70px;
    /* background-color: pink; */
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.logo {
    float: left;
    width: 180px;
    height: 70px;
    /* background-color: green; */


}

.logo a {
    display: block;
    width: 180px;
    height: 70px;
    background: url(../imgs/cugbguide.png) no-repeat center;
    background-size: 180px;
    /* 把文字隐藏 */
    font-size: 0;


}

.nav {
    float: left;

    /* width: 300px; */
    height: 70px;
    /* background-color: blue; */
}

.nav li {
    float: left;
    height: 45px;
    margin: 25px 15px 0px 15px;
    font-size: 18px;
}

.nav li a {
    display: block;
    height: 45px;
}



.nav li a:hover {
    color: #0bbf64;
    border-bottom: 3px solid #0bbf64;
}

.search {
    position: absolute;
    top: 20px;
    right: 180px;
    width: 300px;
    height: 37px;

    border-radius: 10px;
    background-color: #0bbf64;
    border: 1px solid #0bbf64;
}

.search input {
    float: left;
    width: 242px;
    height: 35px;
    border-radius: 10px 0 0 10px;

}

.search button {
    float: left;
    width: 56px;
    height: 35px;
    color: white;
    background-color: #0bbf64;
    border-radius: 0 10px 10px 0;
}

.user {
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -17px;
    width: 120px;



    /* background-color: #0bbf64; */

}

.user .picture {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(208, 241, 208);

}

.user .person {
    float: left;
    line-height: 35px;
    margin-left: 5px;
    font-size: 15px;

}

.footer {
    /* float: left; */
    margin-top: 10px;
    /* margin: 0 auto; */
    height: 200px;
    background-color: rgb(196, 228, 196);
}

.help-list {
    height: 150px;
    /* background-color: red; */
}

.help-nav {
    float: left;
    width: 300px;
    /* background-color: green; */
    padding-left: 30px;
    padding-top: 20px;
}

.help-nav h5 {
    font-size: 16px;
    padding-bottom: 5px;
}

.help-nav li {
    font-size: 14px;
}

.copyright {
    width: 1000px;
    height: 50px;
    line-height: 50px;
    /* background-color: blue; */
    border-top: 1px solid gray;
    margin: 0 auto;
    text-align: center;

}